$color-mine-shaft: #333333;
$color-white: #ffffff;
$color-mercury: #e7e7e7;
$color-pizazz :#FF9600;
$color-sandy-brown :#F0ad4e;
$color-astral :#337ab7;
$color-bay-of-many :#23527c;
$color-fuel-yellow :#eea236;