@font-face {
  font-family: 'roberto-blake-icon';
  src:
    url('asset/font/roberto-blake-icon.ttf?9x1whn') format('truetype'),
    url('asset/font/roberto-blake-icon.woff?9x1whn') format('woff'),
    url('asset/font/roberto-blake-icon.svg?9x1whn#roberto-blake-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="rbi-"], [class*=" rbi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'roberto-blake-icon' !important;
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rbi-menu:before {
  content: "\e902";
}
.rbi-circle-down:before {
  content: "\e900";
}
.rbi-down:before {
  content: "\e900";
}
.rbi-circle-bottom:before {
  content: "\e900";
}
.rbi-arrow:before {
  content: "\e900";
}
.rbi-home:before {
  content: "\e901";
}
.rbi-house:before {
  content: "\e901";
}
