nav.header
  .header__top
    span.header_name Roberto Blake
    label.rbi-menu(for="toggle-menu")

  input(type="checkbox", id="toggle-menu")
  ul.header__menu-list
    each item in data['top-menu']
      li.header__menu-item
        a.header__menu-link(href=item.href, target=item.target)=item.text
        if item.type && item.type == 'dropdown'
          div test