doctype html
html
  block config
  head
    title=title
    meta(name="description", content=description)
    meta(name="robots", content="noindex")
    link(rel="stylesheet", href="style.css")
    link(rel="canonical", href="https://robertoblake.com/")
  body
    block content
