.featured__image {
  width: 100%;
  padding-top: 27.5%;
  background-image: url("asset/image/featured-on.jpg");
  background-size: cover; 
}

.feat {
  h3 {
  font-size: 2.4rem;
  padding: 1.5rem;
  font-weight: normal;
  text-align: center;
  }
}