.footer
  .footer__social
    //- pre=JSON.stringify(data.footer, null, 2)
    h2 Let's Connect
    p Contact Me About Working Together
    p
      a(href="tel:+1-518-406-8664") P: 518.406.8664 
    p
      img(src="asset/image/roberto-blake-email.png")
    ul
      each social in data.footer
        li.social__item
          a.social__icon(
            href=social.href, 
            title=social.label
          )
          p.footer__description=social.description
  p Copyright &copy; 2017 - All Rights Reserved
  p
    a.footer__link(href="/") Roberto Blake