extends _component/layout/layout
block config
  -
    let title=`Roberto Blake Replica`;
    let description=`This is a showcase of a website replica`;

block content
  .header__wrapper
    h1 Entrepreneur, Author & Speaker
    .header__body

    h2 Download My Free E-book on Personal Branding!
  p 
  | hello
  span.rbi-down